# IDEs and Editors
.vscode/
.idea/
*.swp
*.iml
*.iws

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Node.js (загальне)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven / Gradle (для твого бекенд-колеги)
backend/target/
backend/build/
backend/.gradle/
backend/out/
backend/src/main/resources/application-local.properties
*.class
*.jar
*.war
*.ear

# Production build
frontend/dist/